<link rel="stylesheet" href="/css/student.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<div class="page-student-content">
    <!--Vertical NavBar-->
    <div class="sidebar">
        <img src="/images/profile.png" alt="profile" class="profile">
        <div class="sidebar-content">
            <ul class="sidebar-content">
                <li class="">
                    <p class="sidebar-item">Name: <%-name%> </p>
                </li>
                <li class="">
                    <p class="sidebar-item">Number: <%-number%> </p>
                </li>
                <li class="">
                    <p class="sidebar-item">Balance: $<%-saldo%> </p>
                </li>
            </ul>
            <form action='/propinas' method="GET" class="sidebar-button">
                <button class="btn btn-primary btn-md btn-block" type="submit" style="background:#1b98e0 !important;border: #1b98e0;">College tuition</button>
            </form> 
            <form action='/logout' method="GET" class="sidebar-button">
                <button class="btn btn-primary btn-md btn-block" style="background:#1b98e0 !important;border: #1b98e0;">Exit</button>
            </form> 
        </div>
    </div>

    <!--Content-->
    <div class="student-content">
       
        <!--Title and search-->
        <div class="title-searh">
            <div  class="page-title"><h2>My subjects</h2></div>
            <div class="search">
                <form action="/search_result" method="GET" style="display: flex;">
                    <input type="text" name="search" id="txtBusca" class="form-control" placeholder="Search subject" height="50px" style="margin-right: 0%;"/>
                    <button type="submit" class="btn btn-primary btn-sm btn-search" style="background:#1b98e0 !important;border: #1b98e0;">Search</button>
                </form>
            </div>
        </div> 
        <!--Cards-->
        <div class="py-5">
            <div class="row hidden-md-up">
                <div class="col-md-4">
                    <div class="card"style="width: 18rem;">
                        <div class="card-block">
                            <img src="/images/math.png" alt="" class="card-img-top" >
                            <div class="card-content">
                                <h4 class="card-title">Maths</h4>
                                <p class="card-text p-y-1">teacher: <%-mteacher%></p>
                                <button class="btn btn-primary btn-md btn-block" style="background:#1b98e0 !important;border: #1b98e0;">Grades</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"style="width: 18rem;">
                        <div class="card-block">
                            <img src="/images/fisica.png" alt="" class="card-img-top" >
                            <div class="card-content">
                                <h4 class="card-title">Physics</h4>
                                <p class="card-text p-y-1">teacher: <%-fteacher%> </p>
                                <button class="btn btn-primary btn-md btn-block" style="background:#1b98e0 !important;border: #1b98e0;">Grades</button> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"style="width: 18rem;">
                        <div class="card-block">
                            <img src="/images/reacao-quimica.png" alt="" class="card-img-top" >
                            <div class="card-content">
                                <h4 class="card-title">Chimestry</h4>
                                <p class="card-text p-y-1">teacher: <%-qteacher%> </p>
                                <button class="btn btn-primary btn-md btn-block" style="background:#1b98e0 !important;border: #1b98e0;">Grades</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <!-- Questions for teachers -->
        <div class="doubts">
            <div class="send-question">
                <h2>Doubts</h2>
                <form action='/question' method="POST">
                <div class="form-group">
                    <!-- <input name="teacher" class="form-control" placeholder="Nome do teacher" style="width: 30vw;margin-bottom: 15px;"> -->
                    <textarea name="comment" class="form-control" rows="3" placeholder="Your doubts" style="width: 30vw;margin-bottom: 15px;resize: none;"></textarea>
                    <input type="radio" id="mteacher"  name="teacher" value="mteacher">
                    <label for="mteacher"><%-mteacher%></label><br>
                    <input type="radio" id="fteacher" name="teacher"value="fteacher">
                    <label for="fteacher"><%-fteacher%></label><br>
                    <input type="radio" id="qteacher"name="teacher" value="qteacher">
                    <label for="qteacher"><%-qteacher%></label>
                    <br>
                    <button type="submit" class="btn btn-primary" style="background:#1b98e0 !important;border: #1b98e0;">Submit</button>
                </div>
                </form>
            </div>
            <div class="send-image">
                <h2>Doubts file</h2>
                <form action='/question' method="POST">
                <div class="form-group">
                <!-- <input name="teacher" class="form-control" placeholder="Nome do teacher" style="width: 30vw;margin-bottom: 15px;"> -->
                <form action="/action_page.php">
                <input type="file" id="myFile" name="filename" >
                <input type="submit">
                </form>
                <p> </p>
                <input type="radio" id="mteacher"  name="teacher" value="mteacher">
                <label for="mteacher"><%-mteacher%></label><br>
                <input type="radio" id="fteacher" name="teacher"value="fteacher">
                <label for="fteacher"><%-fteacher%></label><br>
                <input type="radio" id="qteacher"name="teacher" value="qteacher">
                <label for="qteacher"><%-qteacher%></label>
                </div>
                </form>
            </div>
        </div>
        

    </div>
</div>

<div class="footer">
    <p class="copyright">©Desenvolvido pelo grupo 3</p>
</div>