<nav>
    <h3>Web school</h3>
    <li><%= student.name %> </li>
    <li><%= cl %> </li>
    <li><a href="/student/<%= student.userid %> /tuitionpayment">Tuition Payment</a></li>
    <li><a href="/logout">Logout</a></li>
</nav>
<br>
<div>
    <div>Math</div>
    <div><a href="/student/grades/14">Grades</a></div>
    <br>
    <div>Physics</div>
    <div><a href="/student/grades/15">Grades</a></div>
    <br>
    <div>Chemestry</div>
    <div><a href="/student/grades/16">Grades</a></div>
    <br>
</div>
